<h1>Your Cart</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Quantity
			</th>
			<th>
				Unit Price
			</th>
			<th>
				Total Price
			</th>
		</tr>
	</thead>
	<tbody>
		<% @cart.line_items.each do |item| %>
		<tr>
			<td>
				<%= item.product.name %>
			</td>
			<td>
				<%= item.quantity %>
			</td>
			<td>
				<%= number_to_currency item.product.price %>
			</td>
			<td>
				<%= number_to_currency item.total_price %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<h2>Order Subtotal: <%= number_to_currency @cart.subtotal %></h2> 
<%= link_to "Continue Shopping", root_path, class: "btn btn-success" %>
<%= button_to "Empty Cart", @cart, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>

<%= form_tag order_complete_path do %>
<%= hidden_field_tag :cart_id, @cart.id %>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Order #<%= @cart.id %> "
        data-amount="<%= (@cart.subtotal.to_f.round(2) * 100) %>">
</script>
<% end %>



