<h1>Products#show</h1>

<%= @product.name %>

<%= button_to "Add to Cart", line_items_path(product_id: @product), class: "btn btn-success" %>

<div id="map-canvas">
</div>
<%= javascript_tag do %>
	latitude = '<%= j @product.latitude.to_s %>';
	longitude = '<%= j @product.longitude.to_s %>';
	title = '<%= j @product.name %>';
<% end %>
